.banner {
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 90px;
}
.left-item {
  display: flex;
  flex-direction: column;
}
.left-item h1 {
  margin-bottom: -15px;
}
.mid-item {
  display: flex;
  align-items: center;
  gap: 70px;
}
.right-item {
  display: flex;
  align-items: center;
  gap: 5px;
}

/* SearchBar CSS 적용 */
.search-bar {
display: flex;
flex-direction: column;
max-width: calc(100% - 12.25rem);;
padding: 1.25rem;
background-color: white;
align-items: center;
height: calc(100vh - 8rem);
margin-left: 12.25rem;
}

.keyword-inputs {
  flex-grow: 1;
display: flex;
flex-direction: column;
justify-content: flex-start; /* 입력 필드를 위에서 아래로 정렬 */
align-items: center;
  gap: 0.25rem;
  margin-bottom: 1rem;
}
.include-title {
  font-size: 1rem;
  font-weight: bold;
  align-self: flex-start;
  margin-bottom: 0.5rem;
}

.separator {
width: 15.625rem;
height: 1px;
background-color: #51017F;
margin: 16px 0;
}


.condition-input {
width: 100%;
display: flex;
flex-direction: row;
align-items: center;
gap: 0.5rem;
margin-bottom: 0.5rem;
justify-content: center;

}

.condition-input.condition-animated {
  opacity: 0;
  transform: translateY(-20px);
  animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.add-condition-button {
  background-color: #fff;
  color: #51017F;
  border: 1px solid #51017F;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  font-size: 1.5rem;
cursor: pointer;
}

.date-range {
align-self: center;
display: flex;
align-items: center;
  justify-content: center;
  margin-top: 0.5rem;
}

.date-input {
  width: 6.25rem;
  max-width: 6.25rem;
height: 1.875rem;
border: 1px solid #51017F;
border-radius: 5px;
font-size: 14px;
text-align: center;
  margin-bottom: 1rem;
}

.space {
  height: 14rem;
}

.search-input {
  width: 14rem;
  padding: 0.25rem;
  border: 1px solid #51017F;
  border-radius: 1.25rem;
  font-size: 1.125rem;
  text-align: center;
  box-sizing: border-box;
}

.search-submit {
width: 15.625rem; 
max-width: 15.625rem;
height: 2.5rem;
background-color: #51017F;
color: #fff;
border: none;
border-radius: 20px;
font-size: 18px;
cursor: pointer;
text-align: center; 
align-self: center;
margin-top: 1rem;
}

.search-submit:hover {
background-color: #5d3474;
}.condition-checkbox {
  cursor: pointer;
}

.delete-condition-button {
  background-color: transparent;
  border: none;
  color: #51017F;
  cursor: pointer;
  font-size: 1rem;
}


/* SearchBar 적용 끝 */

/* 모달 */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
}


/* 모달 오버레이 */
.modal-overlay {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.5); /* 배경을 어둡게 설정 */
z-index: 1000; /* 모달 콘텐츠보다 아래에 위치 */
overflow: hidden; /* 오버레이에는 스크롤이 생기지 않도록 설정 */
}

/* 모달 콘텐츠 */
.modal-content {
position: absolute;
left: 0; /* 초기 위치 설정 */
top: 0;  /* 초기 위치 설정 */
width: 60%;
max-width: 800px;
max-height: 70%;
background-color: #ffffff; /* 모달 배경색 */
padding: 20px;
border-radius: 8px; /* 모서리를 둥글게 */
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 그림자 효과 */
z-index: 1001; /* 오버레이보다 위에 위치 */
overflow: visible; /* hidden에서 visible로 수정 */
}

/* 닫기 버튼 */
.close-button {
position: absolute;
top: 10px;
right: 10px;
z-index: 1002;
color: #6200ee;
background: none;
border: none;
font-size: 35px;
cursor: pointer;
}

/* 모달 본문 스크롤바 스타일 */
.modal-body {
padding: 20px;
overflow-y: auto; /* 세로 스크롤바 추가 */
max-height: 300px; /* 스크롤이 적용될 수 있도록 본문의 최대 높이 설정 */
}

.modal-body::-webkit-scrollbar {
width: 12px; /* 스크롤바의 너비를 더 굵게 설정 */
}

.modal-body::-webkit-scrollbar-thumb {
background-color: #6200ee; /* 보라색 스크롤바 */
border-radius: 6px;
}

.modal-body::-webkit-scrollbar-track {
background: #f1f1f1;
}

/* 모달 버튼 */
.modal-button {
padding: 10px 20px;
font-size: 16px;
background-color: #6200ee;
color: white;
border: none;
border-radius: 5px;
cursor: pointer;
transition: background-color 0.3s ease;
}

.modal-button:hover {
background-color: #3700b3;
}

/* 모달 헤더 */
.modal-header {
cursor: move; /* 모달 헤더 전체에서 커서가 'move'로 변경 */
padding: 15px;
border-bottom: 1px solid #ddd;
display: flex; /* 제목과 버튼 정렬 */
justify-content: space-between;
align-items: center;
}

/* 헤더 텍스트 */
.modal-header span {
font-size: 18px;
font-weight: bold;
}


